streamlit==1.29.0
scikit-learn==1.3.0
pandas==2.1.0
numpy==1.26.0
joblib==1.3.0
imbalanced-learn==0.10.1
seaborn==0.13.0
matplotlib==3.8.0

# Tambahkan agar tidak terjadi konflik
pygments==2.15.1
mdurl==0.1.2
markdown-it-py==3.0.0
rich==14.0.0
